$mainColor: #fffefa;
$switchColor: #53b579;
$switchElemColor: #FFFFFF;
$borderColor: silver;
$menuBacground: #949494;
$ToolColor: #5496BD;
$WinColor: #81B3D2;
$BorderColor: #8c8c8c;
$font-bold: "PT Sans - Bold", sans-serif;
$font-regular: "PT Sans - Regular", sans-serif; 